server {
	listen 443 default_server ssl;
	server_name $host;
	access_log /var/log/nginx/$host.ssl.access.log;
	error_log /var/log/nginx/$host.ssl.error.log;

	ssl_certificate ssl/lo.crt;
	ssl_certificate_key ssl/lo.key;
	ssl_session_timeout 10m;
	keepalive_timeout 70;

	location ~ /\.ht {
		deny all;
	}

	# for php5-fpm
	root /Users/ydenyshchenk/Sites/$host/;
	index index.html index.php;

	location / {
		index index.html index.php;
		try_files $uri $uri/ @handler;
	}

	location @handler {
		rewrite / /index.php;
	}

	location /staging/(.*) {
		index index.php;		 
	}

	location /privatesales {
		root /Users/ydenyshchenk/Sites/$host/privatesales;
		index index.php;
		rewrite ^/privatesales(.*)+$ /privatesales/index.php?$1;
	}

    location /uk {
        root /Users/ydenyshchenk/$host/uk;
        index index.php;
        rewrite ^/uk(.*)+$ /uk/index.php?$1;
    }

    location /us {
        root /Users/ydenyshchenk/$host/us;
        index index.php;
        rewrite ^/us(.*)+$ /us/index.php?$1;
    }

	location ~ \.php {
		fastcgi_param  SCRIPT_FILENAME  /Users/ydenyshchenk/Sites/$host/$fastcgi_script_name;
		include fastcgi.conf;
		include /Users/ydenyshchenk/Sites/*/.nginx;
	}
}
